@media (min-width: 768px) {
    .header-content {
        flex-direction: row; /* horizontal layout for larger screens */
    }

    .content {
        display: flex;
        justify-content: space-between; /* space between the sections */
        gap: 20px; /* gap between the sections */
        margin-top: 20px;
    }

    .learning-activities {
        flex: 2; /* Twice as wide as information section */
    }

    .information {
        flex: 1; /* Normal width */
    }
}
h1{
    text-align: center;
}