@media (min-width: 768px) {
    .header-content {
        flex-direction: row; /* horizontal layout for larger screens */
    }

    .content {
        display: flex;
        justify-content: space-between; /* space between the sections */
        gap: 20px; /* gap between the sections */
        margin-top: 20px;
    }

    .learning-activities {
        flex: 2; /* Twice as wide as information section */
    }

    .information {
        flex: 1; /* Normal width */
    }
}
h1{
    text-align: center;
}
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}
}