/* Styles for larger screens */
@media (min-width: 768px) {
    .header-content {
        flex-direction: row; /* horizontal layout for larger screens */
    }

    nav li {
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
    }

    .hero {
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
    }

    .cta {
        margin-top: 0;
    }

    main {
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    section {
        /* background-color: #f8f9fa; */
        padding: 1rem;
        border-radius: 5px;
    }
}
.hero-img{
    /* width: 100%; */
    height: 400px;
}